.adm-nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: px2rem(100);
  background-color: $bg;
  z-index: 100;
  border-bottom: 1px solid $color-border-solid;
  .adm-nav-bar-title {
    font-size: px2rem(32);
    color: $font-size-middle;
  }
  .adm-nav-bar-right {
    svg {
      font-size: px2rem(40);
    }
  }
}
