.adm-nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: px2rem(70);
  line-height: px2rem(70);
  background-color: #39A6FD;
  z-index: 100;
  .adm-nav-bar-title {
    font-size: 14px;
    color: #fff;
  }
}
