.ant-mobile-footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: px2rem(10) px2rem(30);
  @include flex($justify-content: space-between);
  border-top: 1px solid $color-border-solid;
  .footer-link {
    @include flex($justify-content: space-between,$direction: column);
    span {
      color: $color-text-gray;
    }
  }
  .footer-icon {
    width: px2rem(40);
    height: px2rem(40)
  }
}
