.adm-swiper {
  position: relative;
  .content {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;
  }
}
.adm-search-wrap,.adm-search-wrap-active {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: px2rem(100);
  z-index: 999;
  .adm-search {
    width: 94%;
    position: absolute;
    left: 0;
    right: 0;
    top:8px;
    margin: auto;
  }
}
.adm-search-wrap-active {
  background-color: rgba(203,77,108,0.8);
}
.home-nav {
  margin-bottom: px2rem(20);
  background-color: $bg;

  .adm-grid-row-item {
    @include flex($direction: column);

    .icon-bg {
      width: px2rem(80);
      height: px2rem(80);
      border-radius: px2rem(40);
      @include flex($justify-content: center);
    }
  }

  .adm-grid {
    padding: px2rem(30) 0;

    .adm-grid-item {
      @include flex($direction: column);

      span {
        padding: px2rem(10) 0;
      }
    }
  }
}

.home-content {
  li {
    background-color: $bg;
    margin-bottom: px2rem(20);

    .home-all-title {
      padding: px2rem(20) 0;
      padding-left: px2rem(30);

      .home-titleImg {
        width: px2rem(80);
        height: px2rem(30);
        display: inline-block;
        margin-right: px2rem(14);
      }
    }

    .home-list {
      @include flex($wrap: wrap, $justify-content: center);

      dl {
        @include flex($justify-content: center);
        margin-bottom: px2rem(20);
        margin-right: px2rem(30);

        dt {
          margin-right: px2rem(20);

          img {
            width: px2rem(80);
            height: px2rem(80);
          }
        }

        dd {
          .home-title {
            @include singleLine($width: px2rem(220))
          }

          .home-introduce {
            @include multipleLine($line: 3, $width: px2rem(220))
          }
        }
      }
    }
  }
}

.home-recommend {
  height: px2rem(70);
  margin-bottom: px2rem(20);

  img {
    height: 100%;
  }
}

.home-hot-sale {
  background-color: $bg;

  .hot-title {
    padding-left: px2rem(30);

    span {
      color: #FF5A27;
      font-size: $font-size-small;
      line-height: px2rem(90);
      border-left: px2rem(8) #FF5A27 solid;
      padding-left: px2rem(5);
    }
  }

  .hot-content {
    @include flex($justify-content: space-between, $wrap: wrap);
    padding: 0 px2rem(30);
    box-sizing: border-box;

    dl {
      width: 30%;

      dt {
        width: px2rem(200);
        height: px2rem(200);
        display: inline-block;

        img {
          width: 100%;
          height: 100%;
        }
      }

      dd {
        p {
          @include multipleLine($line: 3, $width: px2rem(220));
          margin: px2rem(16) 0;
          color: #333;

          &:last-child {
            @include flex($justify-content: space-between);

            span {
              color: #F40;

              &:last-child {
                color: #999999;
              }
            }
          }
        }

      }

    }
  }

  .hot-content::after {
    content: '';
    width: 30%
  }
}
