.cart-list-wrap {
  margin-bottom: px2rem(260);
  .cart-list {
    .cart-title-edit {
      @include flex($justify-content: space-between);
      margin-bottom: px2rem(20);
      span {
        font-size: $font-size-small;
        color: $color-text-black;
      }
    }
    .adm-list-inner {
      padding: px2rem(26);
      .adm-checkbox-icon {
        width: px2rem(38);
        height: px2rem(38);
      }
      .adm-checkbox-content {
        font-weight: 600;
        margin-right: px2rem(15);

        svg {
          color: #AAAAAA;
        }
      }
    }

    dl {
      @include flex($justify-content: space-around);
      dt {
        //width: px2rem(200);
        //height: px2rem(200);
        position: relative;
        .adm-checkbox {
          position: absolute;
          top: px2rem(54);
          left: 0;
        }
        img {
          //width: 100%;
          //height: 100%;
          //display: block;
          margin-left: px2rem(18);
        }
      }

      dd {
        span {
          font-size: $font-size-small;
          &:last-child {
            @include flex($justify-content: space-between);
            padding: 0 px2rem(20);
            b {
              color: #FF5A27;
              font-size: 20px;
            }

            .cart-num {
              width: px2rem(50);
              height: px2rem(50);
              text-align: center;
              border: 1px solid #cccccc;
              display: inline-block;
              border-radius: px2rem(8);
              font-weight: 400;
              padding: 0;
            }
          }
        }
        .cart-title-word {
          font-weight: 600;
          width: px2rem(500);
          margin-top: px2rem(-5);
        }
        .cart-description {
          color: $color-text-gray;
          margin-left: px2rem(14);
          b {
            margin-right: px2rem(20);
            font-weight: 400;
          }
        }
      }
    }
  }
  .cart-total {
    width: 100%;
    background-color: $bg;
    border-top: 1px solid $color-bottom-border;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: px2rem(20) px2rem(30);
    @include flex($justify-content: space-between);
    .all {
      .adm-checkbox-content {
        color: $color-text-gray;
        font-size: $font-size-small;
      }
    }
    .total {
      .adm-button {
        margin-left: px2rem(20);
        color: $bg;
      }
      span {
        color: #FF5A27;
        b {
          font-size: $font-size-middle;
        }
      }
    }
  }
}


