.cart-list-wrap {
  margin-top: px2rem(100);
  margin-bottom: px2rem(260);
  .cart-list {
    .adm-list-inner {
      padding: px2rem(26);

      .cart-price {
        b {
          margin-left: px2rem(10);
        }
      }

      .adm-checkbox-content {
        font-weight: 600;
        margin-right: px2rem(10);

        svg {
          color: #AAAAAA;
        }
      }

      .active-title {
        padding: px2rem(20) 0;
        margin-left: px2rem(60);
        padding-bottom: px2rem(40);

        span {
          font-size: 14px;

          &:first-child {
            margin-right: px2rem(10);
            font-size: 12px;
          }

          &:last-child {
            float: right;
            color: #ff6430;
            margin-top: px2rem(6);
          }
        }
      }
    }

    dl {
      @include flex($justify-content: space-around);
      margin-left: px2rem(-46);

      dt {
        width: px2rem(250);
        height: px2rem(250);
        @include flex;

        .adm-checkbox-icon {
          margin-right: px2rem(10);
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: px2rem(30);
        }
      }

      dd {
        p {
          font-size: $font-size-small;
          font-weight: 600;
          height: px2rem(66);

          &:last-child {
            @include flex($justify-content: space-between);

            b {
              color: #FF5A27;
              font-size: 20px;
            }

            .cart-num {
              width: px2rem(50);
              height: px2rem(50);
              text-align: center;
              border: 1px solid #cccccc;
              display: inline-block;
              border-radius: px2rem(8);
              font-weight: 400;
            }
          }
        }

        .adm-tag {
          font-size: 12px;
        }
      }
    }
  }
  .cart-total {
    width: 100%;
    background-color: $bg;
    border-top: 1px solid $color-bottom-border;
    position: fixed;
    bottom: px2rem(117);
    left: 0;
    padding: px2rem(20) px2rem(30);
    @include flex($justify-content: space-between);
    .all {
      .adm-checkbox-content {
        color: $color-text-gray;
        font-size: $font-size-small;
      }
    }
    .total {
      .adm-button {
        margin-left: px2rem(20);
        color: $bg;
      }
      span {
        color: #FF5A27;
        b {
          font-size: $font-size-middle;
        }
      }
    }
  }
}


