.my-list-wrap {
  margin-top: px2rem(70);
  height: px2rem(300);
  .my-header {
    background: url("../../assets/images/bg.jpg") no-repeat center center;
    height: 100%;
    @include flex($justify-content: center);
    dl {
      @include flex($justify-content: center);
      dt {
        margin-right: px2rem(20);
      }
    }
  }
  .my-order {
    .adm-list-item-content-extra, .adm-list-item-content-main{
      font-size: $font-size-small;
    }
    .adm-list-item-content-extra {
      color: $color-text-gray;
    }
  }
  .my-order-detail {
    @include flex($justify-content: space-between);
    padding: px2rem(20) px2rem(30);
    background-color: $bg;
    box-sizing: border-box;
    margin-bottom: px2rem(20);
    a {
      @include flex($direction: column);
      color: $color-text-gray;
      span {
        padding-top: px2rem(10);
      }
      img {
        width: px2rem(40);
        width: px2rem(40);
      }
    }
  }
  .adm-list-item-content-main {
    font-size: $font-size-small;
  }
}

